<div class="head">
    <mat-toolbar color="primary"> 
        <h1>Homework Assignment 05 - User Authentication &amp; Authorization</h1>
        <span class="example-spacer"></span>
        <span [ngSwitch]="usertype">
        <div *ngSwitchCase="1">
            <div class="buttons">
                <a mat-button [routerLink]="[ '/viewuser' ]"> Your Details </a>
                <a mat-button [routerLink]="[ '/viewusertype' ]"> User Types </a>
                <a mat-button [routerLink]="[ '/home' ]"> Players </a>
                <a mat-button [routerLink]="[ '/viewteam' ]"> Teams </a>
                <a mat-button [routerLink]="[ '/viewleague' ]"> Leagues </a>
                <a mat-button [routerLink]="[ '/logout' ]"> Logout </a>
            </div>
        </div>
        <div *ngSwitchCase="2">
            <div class="clientbuttons" *ngIf="usertype===2">
                <a mat-button [routerLink]="[ '/logout' ]"> Logout </a>
                <a mat-button [routerLink]="[ '/viewuser' ]"> Your Details </a>
                <a mat-button [routerLink]="[ '/home' ]"> Players </a>
            </div>
        </div>
        <div *ngSwitchDefault>
        </div>
        </span>
        <!--
        <ng-container *ngIf="usertype===1; then thenTemplate; else elseTemplate"></ng-container>
        <ng-template #thenTemplate>
            <div class="buttons">
                <a mat-button [routerLink]="[ '/viewuser' ]"> Your Details </a>
                <a mat-button [routerLink]="[ '/viewusertype' ]"> User Types </a>
                <a mat-button [routerLink]="[ '/home' ]"> Players </a>
                <a mat-button [routerLink]="[ '/viewteam' ]"> Teams </a>
                <a mat-button [routerLink]="[ '/viewleague' ]"> Leagues </a>
                <a mat-button [routerLink]="[ '/logout' ]"> Logout </a>
            </div>
        </ng-template>
        <ng-template #elseTemplate>
            <div class="clientbuttons" *ngIf="usertype===2">
                <a mat-button [routerLink]="[ '/logout' ]"> Logout </a>
                <a mat-button [routerLink]="[ '/viewuser' ]"> Your Details </a>
                <a mat-button [routerLink]="[ '/home' ]"> Players </a>
            </div>
        </ng-template> -->
    </mat-toolbar>
</div>


