<div class="head">
    <mat-toolbar color="primary"> 
        <h1>Homework Assignment 02</h1>
        <span class="example-spacer"></span>
        <div *ngIf="usertype === 1" class="buttons">
            <a mat-button [routerLink]="[ '/viewuser' ]"> Your Details </a>
            <a mat-button [routerLink]="[ '/viewusertype' ]"> User Types </a>
            <a mat-button [routerLink]="[ '/home' ]"> Players </a>
            <a mat-button [routerLink]="[ '/viewteam' ]"> Teams </a>
            <a mat-button [routerLink]="[ '/viewleague' ]"> Leagues </a>
            <a mat-button [routerLink]="[ '/logout' ]"> Logout </a>
        </div>
        <div class="buttons" *ngIf="usertype === 1">
            <a mat-button [routerLink]="[ '/logout' ]"> Logout </a>
            <a mat-button [routerLink]="[ '/viewuser' ]"> Your Details </a>
        </div>
        
    </mat-toolbar>
</div>


