<h1>Add User Type</h1>

<div class="parent">
    <div class="child">
        <form (submit)="AddUserType($event)">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput placeholder="Description" class="name" required type="text" >
                <mat-icon matSuffix></mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>
            <br>
            <p>{{addError}}</p>
            <button mat-raised-button color="primary" type="submit">Update</button>
        </form>
    </div>
</div>
