<app-header></app-header>

<h1>Add A Player</h1>

<div class="parent">
    <div class="child">
        <mat-form-field appearance="outline">
            <mat-label>Player Name</mat-label>
            <input matInput placeholder="Player Name" class="email" required type="text">
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Player Surname</mat-label>
            <input matInput placeholder="Player Surname" class="email" required type="text">
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" class="password">
            <mat-icon matSuffix></mat-icon>
            <mat-hint></mat-hint>
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary">Login</button>
    </div>
</div>
